
.daySelector {
    margin-top: 2vw !important;
}

.daySelectorDay {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1vw;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    margin-top: -1vw;
}

.daySelectorDate {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    margin-bottom: -1vw;
}

.headerRowBox {
    position: relative;
    width: 13%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRowBoxActiveBackgroundTop {
    position: absolute;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    background: #45D0C0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 8.1vw;
    padding-top: 8.1vw;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.headerRowBoxActiveBackgroundBottom {
    position: absolute;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    background: #45D0C0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 8.1vw;
    padding-top: 8.1vw;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.headerRowBoxTextTop {
    z-index: 2;
    letter-spacing: 0;
    font-size: 4vw;
}


.headerRowBoxTextBottom {
    z-index: 2;
    letter-spacing: 0;
    font-size: 3.5vw;
}


.headerLastRowArrowLeft {
    position: absolute;
    left: 0px;
    margin-top: -1vw;
    top: -50%;

    padding-left: 2vw;
    margin-left: -3.5vw;
    padding-right: 2vw;
}

.headerLastRowArrowIcon {
    width: 2vw;
    height: 4vw;
}


.headerLastRowArrowRight {
    position: absolute;
    right: 0px;
    margin-top: -1vw;
    top: -50%;

    padding-left: 2vw;
    margin-right: -3.5vw;
    padding-right: 2vw;
}
