.root {
}

.headerBackButton {
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerBackButtonIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.body {
    margin-top: 180px;
    overflow: scroll;
    height: 1500px;
}

.header {
    color: rgba(11, 148, 131, 0.8);
    text-align: left;
    letter-spacing: 0.1em;
    font-size: 4.4vw;
    font-weight: 520;
}

.content {
    margin-top: 30px;
}

.benefitsShowcase {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.benefitsShowcaseElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}


.benefitsShowcaseElementIcon {
    width: 100px;
    height: 80px;
    display: flex;
    align-self: center;
}


.benefitsShowcaseElementTitle {
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}

.benefitsShowcaseElementSubTitle {
    font-size: 0.7rem;
    letter-spacing: 0.02em;
}

.pricesShowcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pricesShowcaseElement {
    display: flex;
    flex-direction: row;
    width: 45%;
    border: 1px solid #AFE4E1;
    border-radius: 20px;
    margin-bottom: 30px;
}

.pricesShowcaseElementActive {
    border: 1px solid #45D0C0;
    background: #45D0C0;
    color: white;
}

.pricesShowcaseElementText {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: min-content;
    padding: 10px 20px;
    background-color: #ECFAF9;
}

.pricesShowcaseElementTextActive {
    background-color: #45D0C0;
    color: white;
}

.pricesShowcaseElementPrice {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: auto;
}

.pricesShowcaseElementOriginalPrice {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.pricesShowcaseElementOriginalPriceLabel {
    font-size: 1em;
    letter-spacing: 0.1em;
}

.pricesShowcaseElementDiscountedPrice {
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #0B9483;
}

.pricesShowcaseElementDiscountedPriceNumber {
    text-decoration: line-through;
}

.pricesShowcaseElementDiscountedPriceActive {
    color: white;
}

.pricesShowcaseElementDiscountedPriceNumberActive {
    text-decoration: line-through;
    color: white;
}

.footer {
    pointer-events: none;
    position: fixed;
    bottom: 80px;
    width: 100%;
    left: 0;
    height: auto;
}

.actionButtonReserve {
    pointer-events: auto;
    padding: 30px 60px;
    box-shadow: 0px 22px 17px rgba(0, 0, 0, 0.1);
    background: #45D0C0;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    letter-spacing: 0.15em;
    color: white;
    margin: 60px auto auto;
    font-size: 45px;
    line-height: inherit;
    overflow: inherit;
    display: flex;
    position: relative;
    box-sizing: inherit;
    font-family: sans-serif;
}
