
.paymentCard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgba(37, 37, 37, 0.8);
}


.paymentCardTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.paymentCardTopLeft {
    letter-spacing: 0;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
}

.paymentCardTopRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.5vw;
    letter-spacing: 0.05em;
}

.paymentCardDivider {
    margin: 25px -10px;
}

.paymentCardBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paymentCardBottomEntryModifier {
    margin-bottom: 25px;
}

.paymentCardBottomEntry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.paymentCardBottomLabel {
    color: rgba(11, 148, 131, 0.8);
    letter-spacing: 0.2em;
}


.paymentCardBottomEntrySelectorNumber {
    margin-left: 30px;
    margin-right: 30px;
}

.paymentCardBottomEntrySelectorInc {

}

.paymentCardBottomEntryCouponSelector {
    font-size: 3.5vw;
}

.paymentCardBottomEntryCouponSelectorIcon {
    width: 4vw;
    height: 20px;
}

.paymentCardBottomEntryPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.paymentCardBottomEntryPriceLeft {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.paymentCardBottomEntryPriceLeftText {
    color: rgba(11, 148, 131, 0.8);
    letter-spacing: 0.2em;
}

.paymentCardBottomEntryPriceLeftNumber {
    font-size: 3.5vw;
    margin-left: 20px;
}


.paymentCardBottomEntryPriceRight {
    display: flex;
    flex-direction: row;
    color: rgba(11, 148, 131, 0.8);
    align-items: center;

}

.paymentCardBottomEntryPriceRightNumber {
    font-size: 3.5vw;
    margin-left: 20px;
    color: #FF665C;
}


.classDetailsCardFooterRightNewMemberPrice {
    margin-left: 0.4em;
    font-size: 1.1em;
}

.classDetailsCardFooterRightNewMemberPriceNumber {
    color: #FF665C;
}
