
.coupon {
    width: 560px;
    height: 196px;
    background: #FFCECE;
    border: 1px dashed #FF665C;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}

.couponCircleBackground {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    background: #FF968F;
    position: absolute;
    top: 14px;
    left: 18px;
}

.couponNumberLabel {
    position: absolute;
    width: 260px;
    left: 49px;
    top: 49px;
    font-style: normal;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    color: rgba(18, 14, 33, 0.8);
}

.couponNumberLabelNumber {
    font-size: 10vw;
    display: flex;
    align-self: flex-end;
    margin-bottom: 0.4em;
    margin-right: 0.1em;
}

.couponExpiry {
    font-size: 0.7em;
    text-align: right;
    letter-spacing: 0.2em;

    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 14px;
    right: 14px;
}

.couponActionButton {
    background: #000;
    color: white;
    border-radius: 30px;
    position: absolute;
    bottom: 28px;
    right: 14px;
    padding: 10px 20px;
    letter-spacing: 0.2em;
}
