.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFFFE;
    height: 100vh;
    width: 100%;
}

.headerBackButton {
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerBackButtonIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.body {
    height: 830px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 80px 100px rgba(0, 0, 0, 0.1);
}

.bodyHeader {
    background: rgba(69, 208, 192, 0.1);
    border-radius: 30px 30px 0px 0px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 50px 30px;
}

.bodyHeaderLeft {
    display: flex;
    flex-direction: column;

}

.bodyHeaderLeftTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

.bodyHeaderLeftSubTitle {
    font-size: 4vw;
    font-weight: 400;
    margin-left: 30px;
}

.bodyHeaderLeftTime {
    margin-bottom: 15px;
    font-size: 4vw;
}

.bodyHeaderLeftAddress {
    font-size: 4vw;

}

.bodyHeaderRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bodyHeaderRightImage {
    width: 150px;
    height: 150px;
}

.bodyContent {
    position: relative;
    padding-top: 10px;
    text-align: center;
    color: rgba(11, 148, 131, 0.8);
    font-size: 4vw;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.bodyContentQRCode {
    width: 300px;
    height: 300px;
}


.bodyFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.bodyFooterAction {
    text-align: center;
}

.bodyFooterActionButton {
    color: rgba(11, 148, 131, 0.8);
    border-radius: 30px;
    letter-spacing: 0.2em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    font-size: 3.6vw;
    text-decoration: underline;
}
