.root {
    background: #FAFFFE;
    letter-spacing: 0.2em;
}

.header {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    position: relative;
    background: white;
    width: 100vw;
    height: 450px;
    overflow: hidden;
}

.headerBackButton {
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 10px;
}

.headerBackButtonIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.headerMedia {
    width: 100%;
    height: 100%;
}

.headerMediaVideo {
    width: 100%;
    height: 100%;
}

.headerMediaVideoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
}

.body {
    height: 75vh;
    overflow: scroll;
}

.titleRow {
    font-size: 50px;
    padding: 30px 30px 0;
}

.tagsRow {
    padding: 0 30px;
    color: #0B9483;
    font-size: 4vw;
    letter-spacing: 0.2em;
}

.teacherProfileCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    position: relative;
}

.teacherProfileCardLeft {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.teacherProfileCardLeftImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.teacherProfileCardRight {
}

.teacherProfileCardRightName {
    font-size: 4.8vw;
    margin-bottom: 20px;
}

.teacherProfileCardRightBackground {
    height: 115px;
    overflow: hidden;
    font-size: 3.5vw;
    color: rgba(37, 37, 37, 0.8);
}

.teacherProfileCardRightBackgroundExpandActive {
    height: inherit;
    overflow: inherit;
    font-size: 3.5vw;

}

.teacherProfileCardRightBackgroundExpand {
    position: absolute;
    bottom: -5px;
    right: 30px;
}

.teacherProfileCardRightBackgroundExpandIcon {
    width: 4vw;
    height: 30px;
}

.teacherProfileCardRightBackgroundExpandIconExpandActive {
    transform: rotate(180deg);
}

.classDetailsCard {
    display: flex;
    flex-direction: column;
}

.classDetailsCardLabel {
    margin-right: 30px;
    color: rgba(11, 148, 131, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    min-width: fit-content;
    letter-spacing: 0.2em;
}

.classDetailsCardText {
    color: rgba(37, 37, 37, 0.8);
    font-size: 3.5vw;

}

.classDetailsCardTextDate {
    color: #45D0C0;
}

.classDetailsCardContent {
    display: flex;
    flex-direction: column;
}

.classDetailsCardLabelIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.classDetailsCardEntry {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15px;
}

.classDetailsCardViewMap {
    width: max-content;
    text-decoration: underline;
    color: #45D0C0;
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
}

.classDetailsCardFooterRightOriginalPrice {
    border-right: 1px solid black;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.classDetailsCardFooterRightMemberPrice {
    border-right: 1px solid black;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 4vw;

}

.classDetailsCardFooterRightNewMemberPrice {
    margin-left: 0.4em;
    font-size: 1.1em;
}

.classDetailsCardFooterRightNewMemberPriceNumber {
    color: #FF665C;
}

.noticeCard {

}

.noticeCardTitle {
    display: block;
    letter-spacing: 0.2em;
    color: rgba(11, 148, 131, 0.8);
}

.noticeCardText {
    clear: both;
    white-space: pre-wrap;
    display: block;
    color: rgba(37, 37, 37, 0.8);
    letter-spacing: 0.1em;
    font-size: 3.5vw;
}

.bodyPadding {
    height: 15vh;
}

.footer {
    pointer-events: none;
    position: fixed;
    bottom: 80px;
    width: 100%;
    left: 0;
    height: auto;
}

.actionButtonReserve {
    pointer-events: auto;
    padding: 30px 120px;
    box-shadow: 0px 22px 17px rgba(0, 0, 0, 0.1);
    background: #45D0C0;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    letter-spacing: 0.15em;
    color: white;
    margin: auto;
    font-size: 45px;
    line-height: inherit;
    overflow: inherit;
    display: flex;
    position: relative;
    box-sizing: inherit;
    font-family: sans-serif;
}

.link {
    text-decoration: underline;
}
