.root {
    background: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rootExit {
    animation: exit-anim 1s ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: none;
    user-select: none;
}

.image {
    height: 20vw;
    width: 20vw;
    animation: logo-anim 1.1s ease-in-out;
}

.text1 {
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 7vw;
    letter-spacing: 0.5vw;
    animation: text-anim-1 1.1s ease-in-out;
    margin-bottom: 10vw;
    text-transform: uppercase;
}

.text2 {
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 7vw;
    letter-spacing: 0.5vw;
    animation: text-anim-2 1.1s ease-in-out;
}

.text3 {
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 7vw;
    letter-spacing: 0.5vw;
    animation: text-anim-2 1.1s ease-in-out;
}


@keyframes logo-anim {
    0% {
        transform: translate(-100vw, 0);
    }
    70% {
        transform: translate(10vw, 0);
    }
    100% {
        transform: translate(0vw, 0);
    }
}

@keyframes text-anim-1 {
    0% {
        transform: translate(-100vw, 0);
    }
    75% {
        transform: translate(10vw, 0);
    }
    100% {
        transform: translate(0vw, 0);
    }
}


@keyframes text-anim-2 {
    0% {
        transform: translate(-100vw, 0);
    }
    80% {
        transform: translate(10vw, 0);
    }
    100% {
        transform: translate(0vw, 0);
    }
}

@keyframes exit-anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.loadingIcon {
    position: absolute;
    bottom: 25vw;
    left: 50%;
    margin-left: -5vw;
    width: 10vw;
    height: 10vw;
}
