.root {

}

.title {
    padding-top: 4.4vw;
}

.selections {
    padding-top: 4.4vw;
    display: flex;
    padding-left: 20vw;
    justify-content: space-evenly;
}

.selectionsVertical {
    flex-direction: column;
}

.selectionsElement {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.selectionsElementSelected {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #0B9483;
}

.circle {
    border-radius: 50%;
    border: 1px solid black;
    width: 2vw;
    height: 2.1vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.circleSelected {
    background-color: #0B9483;
    border: 1px solid #0B9483;
    border-radius: 50%;
    width: 2vw;
    height: 2.1vw;
    margin-right: 3vw;
    margin-left: 3vw;
}
