.root {
}

.headerSelectorText {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5vw;
}

.headerSelectorIcon {
    width: 4vw;
    height: 2vw;
    margin-left: 2vw;
    margin-bottom: 0.1vw;
}

.headerEnd {
    margin-top: 30px;
}

.body {
    overflow: scroll;
    padding: 0 4.4vw 4.4vw;
    height: 75vh;
}

.card {
    height: 400px;
    background: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}


.cardOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOverlayText {
    color: white;
    font-weight: 420;
    font-size: 4.4vw;
    letter-spacing: 0.5vw;
}

.cardBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.cardBackgroundImage {
    width: 100%;
    height: 100%;
}

.cardFooter {
    position: absolute;
    padding: 4.4vw 0vw 4.4vw 4.4vw;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.cardFooterTop {
    color: #0B9483;
    font-size: 5vw;
    font-weight: 500;
    letter-spacing: 0.2vw;

}

.cardFooterTopDescription {
    color: white;
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
}

.cardFooterBottom {
    margin-top: 10px;
    color: white;
    font-size: 3vw;
    letter-spacing: 0.5vw;
}

.cardFooterBottomViewMap {
    width: fit-content;
    color: white;
    font-size: 3vw;
    letter-spacing: 0.5vw;
    position: absolute;
    bottom: 4.4vw;
    right: 8.8vw;
    text-decoration: underline;
}

.newUserPopup {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newUserPopupBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(250, 255, 254, 0.6);
    backdrop-filter: blur(6px);
    z-index: 201;
}

.newUserPopupBody {
    background: white;
    border-radius: 20px;
    z-index: 202;
    margin-left: 30px;
    margin-right: 30px;
    width: max-content;
    height: max-content;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 10px solid rgba(69, 208, 192, 0.25);
    box-sizing: border-box;
    /* Soft card shadow */

    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 42px 33px rgba(0, 0, 0, 0.0143771), 0 22px 18px rgba(0, 0, 0, 0.0119221), 0 13px 10px rgba(0, 0, 0, 0.01), 0 7px 5px rgba(0, 0, 0, 0.00807786), 0 3px 2px rgba(0, 0, 0, 0.00562291);
}

.newUserPopupBodyHeader {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8em;
    font-family: YouSheBiaoTiHei, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    margin-top: 10px;
}

.newUserPopupBodyHeaderSecondStep {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8em;
    font-family: YouSheBiaoTiHei, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: -1.2em;
}

.newUserPopupBodyHeaderTextTop {

}

.newUserPopupBodyHeaderTextBottom {

}

.newUserPopupBodyHeaderTextBottomHighlight {
    color: #0B9483;
}

.newUserPopupBodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.newUserPopupBodyContentSecondStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: -15px;
}


.newUserPopupActionButton {
    margin-top: 30px;
    pointer-events: auto;
    padding: 30px 120px;
    box-shadow: 0 22px 17px rgba(0, 0, 0, 0.1);
    background: #45D0C0;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    letter-spacing: 0.15em;
    color: white;
    font-size: 45px;
    line-height: inherit;
    overflow: inherit;
    display: flex;
    position: relative;
    box-sizing: inherit;
    font-family: sans-serif;
}

.newUserPopupBodyContentSecondStep {

}

.newUserPopupBodyContentSecondStepTitle {
    font-size: 4.5vw;
    letter-spacing: 0.2vw;

}


.newUserPopupBodyContentSecondStepAnswer {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 3vw;
}


.newUserPopupBodyContentSecondStepAnswerElement {
    margin-top: 15px;
    width: max-content;
    padding-right: 6vw;
    font-size: 4vw;
    height: 50px;
    color: rgba(0, 0, 0, 0.4);
}

.newUserPopupBodyContentSecondStepAnswerSecondQuestion {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 3vw;
    margin-right: 5vw;
}

.newUserPopupBodyContentSecondStepAnswerElementActive {
    color: #0B9483;
}

.newUserPopupBodyContentSecondStepAnswerElementSecondQuestion {

    margin-top: 15px;
    width: 30vw;
    font-size: 4vw;
    height: 50px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newUserPopupBodyContentSecondStepAnswerElementSecondQuestionActive {
    color: #0B9483;
}

.newUserPopupBodyContentSecondStepAnswerElementSecondQuestionIconContainer {
    display: flex;
    align-items: center;
}

.newUserPopupBodyContentSecondStepAnswerElementSecondQuestionIcon {
    width: 4vw;
    height: 4vw;
}

.newUserPopupBodyContentKaiyeRedPacket {
    width: 80vw;
    height: 1000px;
    z-index: 202;
}
