.root {

}

.header {
    background: linear-gradient(70.51deg, #C0F7FD -4.51%, #E8FFD8 105.23%);
}

.headerCustomBody {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
}

.headerCustomBodyTop {
    display: flex;
    flex-direction: row;

}

.headerCustomBodyBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.headerCustomBodyBottomElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerCustomBodyBottomElementTop {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: rgba(11, 148, 131, 1);
}

.headerCustomBodyBottomElementBottom {

    font-size: 3.5vw;
    letter-spacing: 0.1em;
    color: rgba(83, 83, 83, 0.4);
}

.verticalDivider {
    border: none;
    border-left: 1px solid black;
}

.headerCustomProfilePicture {
    display: flex;
    justify-content: flex-end;
}

.headerCustomMemberText {
    font-size: 1.8em;
    font-family: YouSheBiaoTiHei, sans-serif;
}

.headerCustomRight {
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    position: relative;

}

.headerCustomTopLine {

}

.headerCustomBottomLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

.headerCustomBottomLineBackground {
    position: absolute;
    background: rgba(69, 208, 192, 0.9);
    width: 200%;
    height: 1em;
    z-index: -1;
    margin-left: -50%;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

.headerCustomBottomLineName {
    letter-spacing: 0.1em;
    color: white;
    font-weight: 500;
    font-size: 4.4vw;
    display: flex;
}

.headerCustomBottomLineNameUser {
    display: inline-block;
    max-width: 7em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
}

.headerCustomBottomLineAction {
    letter-spacing: 0.1em;
    color: white;
    font-weight: 400;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerCustomBottomLineActionIcon {
    width: 10px;
    height: 20px;
    margin-left: 5px;
}

.headerIcon {
    width: 100px;
    height: 101px;
    border-radius: 50%;
}

.headerTitle {
    padding: 0 24px 0;
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-align: left;
}

.headerBody {
    font-size: 1.1em;
    margin-bottom: 30px;
    letter-spacing: 0.3em;
    color: rgba(37, 37, 37, 0.8);
}

.body {
    overflow: scroll;
    height: 1200px;
    margin-top: -20px;
}

.allOptions {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}

.allOptionsEntry {
    display: flex;
    flex-direction: column;
}

.allOptionsEntryTop {
    margin-top: 0;
}

.allOptionsEntryBottom {
    margin-bottom: 0;
}

.allOptionsEntryDivider {
    margin: 20px -30px;
}

.allOptionsEntryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.allOptionsEntryHeaderLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 4.4vw;
    letter-spacing: 0.2em;
    color: black;
}

.allOptionsEntryHeaderRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: right;

}

.allOptionsEntryHeaderRightLabel {
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.2em;
    color: rgba(11, 148, 131, 0.8);
    font-size: 4.4vw;
}

.allOptionsEntryHeaderRightLabelImportant {
    color: #FF665C;
}

.allOptionsEntryHeaderRightIcon {
    width: 4vw;
    height: 20px;
    margin-left: 10px;
    margin-right: -14px;
}

.allOptionsEntryHeaderRightIconAlternate {
    width: 15px;
    height: 30px;
    margin-left: 14px;
    margin-right: 0px;
}

.allOptionsEntryOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent !important;
}

.allOptionsEntryOverlay::after {
    display: none;
}

.allOptionsEntryBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: -30px;
}

.sharing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sharingButton {
    box-shadow: 0 22px 17px rgba(69, 208, 192, 0.1);
    background: #45D0C0;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 25px;
    position: relative;
}

.sharingButtonWxButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent !important;
}

.overlay::after {
    display: none;
}
