.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFFFE;
    height: 100vh;
    width: 100%;
}

.headerBackButton {
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerBackButtonIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.body {
    height: 80%;
    overflow: scroll;
    width: 100%;
}

.h1 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.li {
    margin-bottom: 10px;
    clear: both;
    white-space: pre-wrap;
    display: block;
    color: rgba(37, 37, 37, 0.8);
    letter-spacing: 0.1em;
    font-size: 3.5vw;
}

.p {
    margin-bottom: 10px;
    clear: both;
    white-space: pre-wrap;
    display: block;
    color: rgba(37, 37, 37, 0.8);
    letter-spacing: 0.1em;
    font-size: 3.5vw;

}
