.headerMedia {
    width: 100%;
    height: 100%;
}

.headerMediaVideo {
    width: 100%;
    height: 100%;
}

.headerMediaVideoOverlay {
    position: absolute;
    bottom: 5vw;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.headerMediaVideoOverlayText {
    color: white;
    font-size: 3vw;
    letter-spacing: 0.5vw;
}

.loadingIcon {
    width: 100px;
    height: 100px;
}
