.header {
    padding-top: 11vw;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    position: relative;
    background: white;
    border-bottom: 1px solid black;
    margin-bottom: 3vw;
}

.headerTopRow {
    margin-bottom: 20px;
}

.headerTopRowText {
    padding: 20px;
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-align: left;
}

.headerBody {
    padding: 0 24px 0;
}
