.root {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /*background: rgba(0, 0, 0, 0.9);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: all;
}

.loadingIcon {
    width: 100px;
}
