
.headerSelectorText {
    font-size: 4.4vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
}

.headerSelectorIcon {
    width: 4vw;
    height: 2vw;
    margin-left: 1vw;
    margin-bottom: 0.1vw;
}
