.root {
    background: #FAFFFE;
    letter-spacing: 0.2em;
}

.header {
    z-index: 1;
    position: relative;
}

.headerBackButton {
    position: absolute;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 10px;
}

.headerBackButtonIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.body {
    height: 90vh;
    overflow: scroll;
}

.classDetailsCard {
    display: flex;
    flex-direction: column;
}

.classDetailsCardLabel {
    margin-right: 30px;
    color: rgba(11, 148, 131, 0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    min-width: fit-content;
    letter-spacing: 0.2em;
}

.classDetailsCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: -10px;
}

.classDetailsCardContentEntry {
    font-size: 0.7em;
    background: rgb(108, 217, 203);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.classDetailsCardContentEntryIconRoot {

    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.classDetailsCardContentEntryIcon {
    width: 30px;
    height: 30px;
}

.classDetailsCardText {
    color: rgba(37, 37, 37, 0.8);
    font-size: 3.5vw;

}

.classDetailsCardLabelIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.classDetailsCardEntry {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 15px;
    justify-content: space-between;
}


.noticeCard {

}

.noticeCardTitle {
    display: block;
    letter-spacing: 0.2em;
    color: rgba(11, 148, 131, 0.8);
}

.noticeCardText {
    clear: both;
    white-space: pre-wrap;
    display: block;
    color: rgba(37, 37, 37, 0.8);
    letter-spacing: 0.1em;
    font-size: 3.5vw;
}

.bodyPadding {
    height: 15vh;
}

.footer {
    pointer-events: none;
    position: fixed;
    bottom: 80px;
    width: 100%;
    left: 0;
    height: auto;
}

.actionButtonReserve {
    pointer-events: auto;
    padding: 30px 120px;
    box-shadow: 0px 22px 17px rgba(0, 0, 0, 0.1);
    background: #45D0C0;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    letter-spacing: 0.15em;
    color: white;
    margin: 60px auto auto;
    font-size: 45px;
    line-height: inherit;
    overflow: inherit;
    display: flex;
    position: relative;
    box-sizing: inherit;
    font-family: sans-serif;
}

.openingHoursSelectorRoot {
}

.openingHoursSelectorHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}

.openingHoursSelectorHeaderElement {
    color: rgba(11, 148, 131, 0.8);
}

.openingHoursSelector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 15px -20px -20px -5px;
    grid-auto-flow: column;
}

.openingHoursSelector:nth-child(n + 5) {
    page-break-before: always; /* FF33 */
}

.openingHoursSelectorElement {
    background: rgb(205, 240, 236);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px 7px 14px 7px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.openingHoursSelectorElementInactive {
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.openingHoursSelectorElementSelected {
    background: rgb(108, 217, 203);

}

.openingHoursSelectorElementTop {
    letter-spacing: 0.07em;
    font-size: 3.5vw;
}

.openingHoursSelectorElementBottom {
    font-size: 0.7em;
}
