.root {
}

.header {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    position: relative;
    background: white;
    border-bottom: 1px solid black;
    height: 250px;
}

.headerTopRowText {
    padding-left: 24px;
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-align: left;
}

.headerBottomRow {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.headerBottomRowLeft {
    display: flex;
    width: 33.333333%;

}

.headerBottomRowCenter {
    display: flex;
    width: 33.333333%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.headerBottomRowRight {
    display: flex;
    width: 33.333333%;
}

.headerBottomRowEntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    width: 100%;
    height: 100%;
}

.headerBottomRowEntryNumber {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.05em;
    color: #0B9483;
}

.headerBottomRowEntryDesc {
    font-size: 25px;

}

.cardBody {
    overflow: auto;
    height: 75vh;
}

.innerCard {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03);
    background: white;
    border-radius: 20px;
    margin-top: 30px;
}

.innerCardHeader {
    padding-bottom: 1vw;
    padding-top: 1.5vw;
    margin-top: -4.4vw;
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(69, 208, 192, 0.25);
    margin-left: -4.4vw;
    margin-right: -4.4vw;
}

.innerCardHeaderLeft {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.innerCardHeaderLeftDate {
    padding-right: 3vw;
    padding-left: 4.4vw;
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 0.5vw;

}

.innerCardHeaderLeftTime {
    width: max-content;
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
}

.innerCardHeaderRight {
    text-align: right;
    color: #0B9483;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 2vw;
    font-size: 4vw;
}

.innerCardHeaderRightIcon {
    padding-left: 1vw;
    width: 1.5vw;
    height: 4vw;
    margin-top: 1vw;
}

.innerCardBody {
    padding-top: 1.5vw;
    display: flex;
    flex-direction: row;
    margin-bottom: -4.4vw;
    padding-bottom: 2vw;
}

.innerCardBodyLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
}

.innerCardBodyLeftImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.innerCardBodyRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 1.5vw;
}

.innerCardBodyRightHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vw;
    align-items: center;

}

.innerCardBodyRightHeaderLeft {
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 0.2vw;

}

.innerCardBodyRightHeaderRight {
    white-space: nowrap;
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
    padding-top: 0.2vw;

}

.innerCardBodyRightTags {
    color: #0B9483;
    margin-bottom: 8px;
    font-size: 3vw;
    letter-spacing: 0.5vw;
}

.innerCardBodyRightCalorieBurnRate {
    display: flex;
    flex-direction: row;
    font-size: 25px;
}

.historyText {
    width: 100%;
    color: #45D0C0;
    margin: 30px 0;
    text-align: center;
}
