.root {
}

.headerSelectorText {
    font-size: 4.4vw;
    font-weight: 300;
}

.headerSelectorIcon {
    width: 4vw;
    height: 20px;
}

.headerTab {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 30px;
    height: 80px;
}

.headerTabElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
    position: relative;
    height: 100%;
    color: rgba(0, 0, 0, 0.6);
}

.headerTabElementText {
    letter-spacing: 0.1em;
    text-align: center;
    margin-left: 0.1em;

}

.headerTabElementActive {
    border: 1px solid black;
    border-bottom: 1px solid white;
    border-radius: 20px 20px 0 0;
    background: #F8FFFE;
    color: rgba(0, 0, 0, 1);
}

.header {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 30px;
    z-index: 1;
    position: relative;
    background: white;
}

.headerTopRow {
    margin-bottom: 30px;
}


.banner {
    display: none;
    background: black;
    width: 100%;
    height: 150px;
    margin-top: -30px;
    padding-top: 30px;
    position: relative;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.bannerMockText {
    color: white;
    font-family: YouSheBiaoTiHei, sans-serif;
    font-size: 60px;
}

.body {
    height: 72vh;
    overflow: scroll;
}

.card {
    margin-top: 6vw;
    margin-left: 4.4vw;
    margin-right: 4.4vw;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -1vw;
}

.cardBody {
    padding-top: 0px;
    margin-top: 20px;
    margin-right: -30px;
    margin-left: -30px;
}

.cardTitleLeft {
    display: flex;
    align-self: flex-end;
    font-size: 5vw;
    font-weight: 500;
    letter-spacing: 0.2vw;
    color: #0B9483;
}

.cardTitleRight {
    display: flex;
    align-self: flex-end;
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
}


.cardTitleRightViewMap {
    margin-left: 2vw;
    text-decoration: underline;
}

.innerCardOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent !important;
}

.innerCardOverlay::after {
    display: none;
}

.innerCardHeader {
    padding-bottom: 1vw;
    padding-top: 1.5vw;
    margin-top: -4.4vw;
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(69, 208, 192, 0.25);
    margin-left: -4.4vw;
    margin-right: -4.4vw;
    letter-spacing: 0.1em;
}

.innerCardHeaderLeft {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.innerCardHeaderLeftDate {
    padding-right: 3vw;
    padding-left: 4.4vw;
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 0.5vw;

}

.innerCardHeaderLeftTime {
    width: max-content;
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
}

.innerCardHeaderRight {
    text-align: right;
    color: #0B9483;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 2vw;
    font-size: 4vw;
}

.innerCardHeaderRightIcon {
    padding-left: 1vw;
    width: 1.5vw;
    height: 4vw;
    margin-top: 1vw;
}

.innerCardBody {
    padding-top: 1.5vw;
    display: flex;
    flex-direction: row;
    margin-bottom: -4.4vw;
    padding-bottom: 2vw;
}

.innerCardBodyLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
}

.innerCardBodyLeftImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.innerCardBodyRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 1.5vw;
}

.innerCardBodyRightHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vw;
    align-items: center;

}

.innerCardBodyRightHeaderLeft {
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
}

.innerCardBodyRightHeaderRight {
    white-space: nowrap;
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
    padding-top: 0.2vw;

}

.innerCardBodyRightTags {
    color: #0B9483;
    margin-bottom: 8px;
    font-size: 3vw;
    letter-spacing: 0.5vw;
}

.innerCardBodyRightPrice {
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    letter-spacing: 0.5vw;
    white-space: nowrap;

}


.innerCardBodyRightEnded {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.7);
}

.innerCardBodyRightPriceOriginal {
    padding-right: 20px;
    border-right: 1px solid black;
}

.innerCardBodyRightPriceMember {
    padding-left: 0.1em;
    border-right: 1px solid black;


}

.innerCardBodyRightPriceNewMember {
    padding-left: 0.1em;
}

.innerCardBodyRightPriceNewMemberNumber {
    color: #FF665C;
}

.padding {
    height: 15vh;
}
