page {
  background: #F8FFFE;
  overflow: hidden;
}

.primary {
  color: rgba(11, 148, 131, 0.8);
}



.h1 {
  font-size: 1.1em;
  display: block;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2em;
}
