.root {
    position: fixed;
    bottom: 10px;
    height: 10%;
    padding-bottom: 10px;
    width: 100%;
    background: #FFFFFF;
    border-top: 1px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    box-sizing: border-box;
    z-index: 100;
}

.tab{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabIcon {
    height: 46px;
    width: 46px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent !important;
}

.overlay::after {
    display: none;
}

.tabIconLarger {
    height: 52px;
    width: 52px;
}
